<!doctype html>
<html lang="{{ site.lang | default: 'ru' }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}" />
  <meta name="description" content="{{ page.description | default: 'Медиа-арт, исследования, проекты.' }}">
</head>
<body>
  {% include nav.html %}
  <main class="main">
    <div class="wrap">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
